{
  "swagger": "2.0",
  "info": {
    "title": "Omni API",
    "description": "Omni server application",
    "termsOfService": "https://www.google.com/policies/terms/",
    "contact": { "email": "contact@snippets.local" },
    "license": { "name": "BSD License" },
    "version": "v1"
  },
  "host": "api.omnihr.co",
  "schemes": ["https"],
  "basePath": "/api/v1",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "JWT": { "type": "apiKey", "in": "header", "name": "Authorization" }
  },
  "security": [{ "JWT": [] }],
  "paths": {
    "/analytics/headcount/breakdown/": {
      "get": {
        "operationId": "analytics_headcount_breakdown_list",
        "description": "",
        "parameters": [
          {
            "name": "as_of_date",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          }
        ],
        "responses": { "200": { "description": "" } },
        "tags": ["analytics"]
      },
      "parameters": []
    },
    "/analytics/headcount/trend/v2/": {
      "post": {
        "operationId": "analytics_headcount_trend_v2_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/HeadcountTrendRequestBody" }
          }
        ],
        "responses": {
          "200": {
            "description": "Sample Headcount Trend Response",
            "examples": {
              "application/json": {
                "31/08/2022": { "total": 0, "count_by_breakdown": [] },
                "30/09/2022": {
                  "total": 1,
                  "count_by_breakdown": [{ "gender": 2, "count": 1 }]
                },
                "10/10/2022": { "total": 0, "count_by_breakdown": [] }
              }
            }
          }
        },
        "tags": ["analytics"]
      },
      "parameters": []
    },
    "/analytics/managers/": {
      "get": {
        "operationId": "analytics_managers_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ManagerData" }
            }
          }
        },
        "tags": ["analytics"]
      },
      "parameters": []
    },
    "/analytics/terminations/breakdown/": {
      "get": {
        "operationId": "analytics_terminations_breakdown_list",
        "description": "",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          }
        ],
        "responses": { "200": { "description": "" } },
        "tags": ["analytics"]
      },
      "parameters": []
    },
    "/analytics/terminations/trend/": {
      "post": {
        "operationId": "analytics_terminations_trend_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/TerminationsTrendRequestBody" }
          }
        ],
        "responses": {
          "200": {
            "description": "Sample Terminations Trend Response",
            "examples": {
              "application/json": {
                "31/08/2022": { "total": 0, "count_by_breakdown": [] },
                "30/09/2022": {
                  "total": 1,
                  "count_by_breakdown": [{ "gender": 2, "count": 1 }]
                },
                "10/10/2022": { "total": 0, "count_by_breakdown": [] }
              }
            }
          }
        },
        "tags": ["analytics"]
      },
      "parameters": []
    },
    "/analytics/terminations/turnover/": {
      "post": {
        "operationId": "analytics_terminations_turnover_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TerminationsTurnoverRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sample Terminations Turnover Response",
            "examples": {
              "application/json": {
                "31/08/2022": {
                  "no_of_termination_events": 0,
                  "average_employees": 20
                },
                "30/09/2022": {
                  "no_of_termination_events": 10,
                  "average_employees": 10
                },
                "10/10/2022": {
                  "no_of_termination_events": 5,
                  "average_employees": 5
                }
              }
            }
          }
        },
        "tags": ["analytics"]
      },
      "parameters": []
    },
    "/approvals/1.0/scopes/{scope}/approvals/{approval_id}/action/": {
      "post": {
        "operationId": "approvals_1.0_scopes_approvals_action_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ApprovalActionRequest" }
          },
          {
            "name": "action_type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": ["approve", "reject"]
          }
        ],
        "responses": {},
        "tags": ["approvals"]
      },
      "parameters": [
        {
          "name": "approval_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        { "name": "scope", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/1.0/clock/": {
      "get": {
        "operationId": "attendance_1.0_clock_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/AttendanceClockResponse" }
          }
        },
        "tags": ["attendance"]
      },
      "post": {
        "operationId": "attendance_1.0_clock_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceClockRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/AttendanceClockResponse" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/1.0/download-timesheets-v2/": {
      "post": {
        "operationId": "attendance_1.0_download-timesheets-v2_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttendanceRequestSerializerV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File Attachment",
            "schema": { "type": "file" }
          }
        },
        "produces": ["application/xlsx"],
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/1.0/download-timesheets/": {
      "post": {
        "operationId": "attendance_1.0_download-timesheets_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttendanceRequestSerializerV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File Attachment",
            "schema": { "type": "file" }
          }
        },
        "produces": ["application/xlsx"],
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/1.0/get-attendance/": {
      "post": {
        "operationId": "attendance_1.0_get-attendance_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttendanceRequestSerializerV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAttendanceBulkResponseSerializerV1"
              }
            }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/1.0/import-timesheet/": {
      "post": {
        "operationId": "attendance_1.0_import-timesheet_create",
        "description": "",
        "parameters": [{ "name": "file", "in": "formData", "type": "file" }],
        "responses": { "201": { "description": "" } },
        "consumes": ["multipart/form-data"],
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/1.0/list/work-schedules/": {
      "get": {
        "operationId": "attendance_1.0_list_work-schedules_list",
        "description": "",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/1.0/{user_id}/attendance/": {
      "post": {
        "operationId": "attendance_1.0_attendance_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceCreateUpdate" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/Attendance" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/1.0/{user_id}/attendance/{attendance_id}": {
      "put": {
        "operationId": "attendance_1.0_attendance_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceCreateUpdate" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/Attendance" }
          }
        },
        "tags": ["attendance"]
      },
      "delete": {
        "operationId": "attendance_1.0_attendance_delete",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceDelete" }
          }
        ],
        "responses": { "204": { "description": "" } },
        "tags": ["attendance"]
      },
      "parameters": [
        {
          "name": "attendance_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/1.0/{user_id}/create-update-attendance/": {
      "post": {
        "operationId": "attendance_1.0_create-update-attendance_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/BulkCreateUpdateAttendance" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/Attendance" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/1.0/{user_id}/get-attendance/": {
      "post": {
        "operationId": "attendance_1.0_get-attendance_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttendanceRequestSerializerV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/GetAttendanceResponse" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/1.0/{user_id}/schedule-limit-dates/{schedule_id}/": {
      "get": {
        "operationId": "attendance_1.0_schedule-limit-dates_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/UserScheduleRecordLimitDates" }
            }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        {
          "name": "schedule_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/2.0/clock/": {
      "post": {
        "operationId": "attendance_2.0_clock_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AttendanceClockRequestSerializerV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AttendanceClockResponseSerializerV2"
            }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/2.0/download-timesheets/": {
      "post": {
        "operationId": "attendance_2.0_download-timesheets_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttendanceRequestWithProjectsSerializerV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File Attachment",
            "schema": { "type": "file" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/2.0/get-attendance-by-projects/": {
      "post": {
        "operationId": "attendance_2.0_get-attendance-by-projects_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttendanceBulkByProjectsRequestSerializerV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAttendanceBulkByProjectsResponseSerializerV2"
              }
            }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/2.0/get-attendance/": {
      "post": {
        "operationId": "attendance_2.0_get-attendance_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttendanceRequestWithProjectsSerializerV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAttendanceBulkResponseSerializerV2"
              }
            }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/2.0/import-timesheet/": {
      "post": {
        "operationId": "attendance_2.0_import-timesheet_create",
        "description": "",
        "parameters": [{ "name": "file", "in": "formData", "type": "file" }],
        "responses": { "201": { "description": "" } },
        "consumes": ["multipart/form-data"],
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/2.0/settings/fields/": {
      "get": {
        "operationId": "attendance_2.0_settings_fields_list",
        "description": "",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "type": "array",
            "items": { "type": "string", "enum": ["Project", "Remarks"] },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/AttendanceSettings" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": []
    },
    "/attendance/2.0/settings/fields/{field_id}/": {
      "put": {
        "operationId": "attendance_2.0_settings_fields_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceSettingsUpdate" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/AttendanceSettings" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        { "name": "field_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/2.0/{user_id}/attendance/": {
      "post": {
        "operationId": "attendance_2.0_attendance_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceCreateUpdateV2" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/AttendanceResponseV2" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/2.0/{user_id}/attendance/default/": {
      "get": {
        "operationId": "attendance_2.0_attendance_default_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/AttendanceDefaultRecord" }
          }
        },
        "tags": ["attendance"]
      },
      "put": {
        "operationId": "attendance_2.0_attendance_default_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceDefaultRecordRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/AttendanceDefaultRecord" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/2.0/{user_id}/attendance/{attendance_id}": {
      "put": {
        "operationId": "attendance_2.0_attendance_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceCreateUpdateV2" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/AttendanceResponseV2" }
          }
        },
        "tags": ["attendance"]
      },
      "delete": {
        "operationId": "attendance_2.0_attendance_delete",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AttendanceDeleteSerializerV2" }
          }
        ],
        "responses": { "204": { "description": "" } },
        "tags": ["attendance"]
      },
      "parameters": [
        {
          "name": "attendance_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/2.0/{user_id}/create-update-attendance/": {
      "post": {
        "operationId": "attendance_2.0_create-update-attendance_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/BulkCreateUpdateAttendanceV2" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/AttendanceResponseV2" }
            }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/attendance/2.0/{user_id}/get-attendance/": {
      "post": {
        "operationId": "attendance_2.0_get-attendance_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttendanceByUserRequestSerializer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/GetAttendanceResponseV2" }
          }
        },
        "tags": ["attendance"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/auth/access-details/": {
      "get": {
        "operationId": "auth_access-details_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/AccessDetails" }
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/details/": {
      "get": {
        "operationId": "auth_details_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/AuthUserRead" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/employees-without-role/": {
      "get": {
        "operationId": "auth_employees-without-role_list",
        "description": "Users paginated list without role",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": { "type": "integer" },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Employee For Selector Serializer"
                  }
                }
              }
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/internal/token/": {
      "post": {
        "operationId": "auth_internal_token_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/TokenObtainPairInternalRequest" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/TokenObtainPairInternalRequest" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/logout/": {
      "post": {
        "operationId": "auth_logout_create",
        "description": "",
        "parameters": [],
        "responses": { "201": { "description": "" } },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/org-details/": {
      "get": {
        "operationId": "auth_org-details_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/OrganizationDetails" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/reset-password/": {
      "post": {
        "operationId": "auth_reset-password_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ResetPassword" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/ResetPassword" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/reset-password/confirm/": {
      "post": {
        "operationId": "auth_reset-password_confirm_create",
        "description": "An Api View which provides a method to reset a password based on a unique token",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/PasswordToken" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/PasswordToken" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/reset-password/server-validate-token/": {
      "get": {
        "operationId": "auth_reset-password_server-validate-token_list",
        "description": "View to handle link from email\nif token not found - redirect to request host auth url\nif token expired - redirect to request host auth url with token param\nif token valid - redirect to request set-password url with token param",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": { "type": "integer" },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ResetPasswordValidateToken"
                  }
                }
              }
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/reset-password/validate-token/": {
      "post": {
        "operationId": "auth_reset-password_validate-token_create",
        "description": "An Api View which provides a method to verify that a token is valid",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ResetToken" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/ResetToken" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/role/": {
      "get": {
        "operationId": "auth_role_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Role" }
            }
          }
        },
        "tags": ["auth"]
      },
      "post": {
        "operationId": "auth_role_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Role" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/Role" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/role/{id}/": {
      "get": {
        "operationId": "auth_role_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/Role" }
          }
        },
        "tags": ["auth"]
      },
      "put": {
        "operationId": "auth_role_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Role" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/Role" }
          }
        },
        "tags": ["auth"]
      },
      "patch": {
        "operationId": "auth_role_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Role" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/Role" }
          }
        },
        "tags": ["auth"]
      },
      "delete": {
        "operationId": "auth_role_delete",
        "description": "",
        "parameters": [],
        "responses": { "204": { "description": "" } },
        "tags": ["auth"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this role.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/auth/set-password/": {
      "post": {
        "operationId": "auth_set-password_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/SetPassword" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/SetPassword" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/set-password/validate-token/": {
      "post": {
        "operationId": "auth_set-password_validate-token_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/SetPasswordToken" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/SetPasswordToken" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/token/": {
      "post": {
        "operationId": "auth_token_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/TokenObtainPairCustom" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/TokenObtainPairCustom" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/token/google/": {
      "post": {
        "operationId": "auth_token_google_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GoogleTokenObtainPairExternalRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GoogleTokenObtainPairExternalRequest"
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/token/refresh/": {
      "post": {
        "operationId": "auth_token_refresh_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/TokenRefreshCustom" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/TokenRefreshCustom" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/token/verify/": {
      "post": {
        "operationId": "auth_token_verify_create",
        "description": "Takes a token and indicates if it is valid.  This view provides no\ninformation about a token's fitness for a particular use.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/TokenVerify" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/TokenVerify" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/token/workos/": {
      "post": {
        "operationId": "auth_token_workos_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkOSTokenObtainPairExternalRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkOSTokenObtainPairExternalRequest"
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/url/workos/": {
      "get": {
        "operationId": "auth_url_workos_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/RetrieveWorkOSAuthURLResponse" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/users/{user_id}/access-level/": {
      "put": {
        "operationId": "auth_users_access-level_update",
        "description": "View for updating user access level settings including roles and login method.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/UserAccessLevel" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/UserAccessLevel" }
          }
        },
        "tags": ["auth"]
      },
      "patch": {
        "operationId": "auth_users_access-level_partial_update",
        "description": "View for updating user access level settings including roles and login method.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/UserAccessLevel" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/UserAccessLevel" }
          }
        },
        "tags": ["auth"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/auth/{role_id}/role-employees/": {
      "get": {
        "operationId": "auth_role-employees_list",
        "description": "Users paginated list by role",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": { "type": "integer" },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Employee For Selector Serializer"
                  }
                }
              }
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": [
        { "name": "role_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/custom-groups/": {
      "get": {
        "operationId": "custom-groups_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/CustomGroupList" }
            }
          }
        },
        "tags": ["custom-groups"]
      },
      "post": {
        "operationId": "custom-groups_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomGroup" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/CustomGroup" }
          }
        },
        "tags": ["custom-groups"]
      },
      "parameters": []
    },
    "/custom-groups/{custom_group_id}/": {
      "get": {
        "operationId": "custom-groups_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/CustomGroup" }
          }
        },
        "tags": ["custom-groups"]
      },
      "put": {
        "operationId": "custom-groups_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomGroup" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/CustomGroup" }
          }
        },
        "tags": ["custom-groups"]
      },
      "patch": {
        "operationId": "custom-groups_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomGroup" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/CustomGroup" }
          }
        },
        "tags": ["custom-groups"]
      },
      "delete": {
        "operationId": "custom-groups_delete",
        "description": "",
        "parameters": [],
        "responses": { "204": { "description": "" } },
        "tags": ["custom-groups"]
      },
      "parameters": [
        {
          "name": "custom_group_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/custom-groups/{custom_group_id}/members/": {
      "get": {
        "operationId": "custom-groups_members",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "type": "number"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "page size",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/CustomGroupMember" }
            }
          }
        },
        "tags": ["custom-groups"]
      },
      "parameters": [
        {
          "name": "custom_group_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/documents/1.0/admin/documents/": {
      "post": {
        "operationId": "documents_1.0_admin_documents_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/DocumentCreateIn" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/DocumentOut" }
          }
        },
        "tags": ["documents"]
      },
      "parameters": []
    },
    "/documents/1.0/admin/documents/acknowledgements/{document_version_id}/": {
      "get": {
        "operationId": "documents_1.0_admin_documents_acknowledgements_read",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_terminated_employee",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": false
          },
          {
            "name": "acknowledgment_status",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Document Acknowledgement with employee data"
              }
            }
          }
        },
        "tags": ["documents"]
      },
      "parameters": [
        {
          "name": "document_version_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/documents/1.0/admin/documents/acknowledgements/{document_version_id}/report/": {
      "get": {
        "operationId": "documents_1.0_admin_documents_acknowledgements_report_list",
        "description": "",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["documents"]
      },
      "parameters": [
        {
          "name": "document_version_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/documents/1.0/admin/documents/metadata/{id}/": {
      "delete": {
        "operationId": "documents_1.0_admin_documents_metadata_delete",
        "description": "",
        "parameters": [],
        "responses": { "204": { "description": "" } },
        "tags": ["documents"]
      },
      "parameters": [
        { "name": "id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/documents/1.0/admin/documents/{document_version_id}/": {
      "put": {
        "operationId": "documents_1.0_admin_documents_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/DocumentUpdateIn" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/DocumentOut" }
          }
        },
        "tags": ["documents"]
      },
      "delete": {
        "operationId": "documents_1.0_admin_documents_delete",
        "description": "",
        "parameters": [],
        "responses": { "204": { "description": "" } },
        "tags": ["documents"]
      },
      "parameters": [
        {
          "name": "document_version_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/documents/1.0/documents/": {
      "get": {
        "operationId": "documents_1.0_documents_list",
        "description": "",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "show_archived",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/DocumentListOut" }
          }
        },
        "tags": ["documents"]
      },
      "parameters": []
    },
    "/documents/1.0/documents/acknowledge/{document_version_id}/": {
      "patch": {
        "operationId": "documents_1.0_documents_acknowledge_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "required": ["signature"],
              "type": "object",
              "properties": { "signature": { "type": "string" } }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["signature"],
              "type": "object",
              "properties": { "signature": { "type": "string" } }
            }
          }
        },
        "tags": ["documents"]
      },
      "parameters": [
        {
          "name": "document_version_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/documents/1.0/documents/upload-request/": {
      "post": {
        "operationId": "documents_1.0_documents_upload-request_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/DocumentUploadRequestIn" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/DocumentUploadRequestOut" }
          }
        },
        "tags": ["documents"]
      },
      "parameters": []
    },
    "/documents/1.0/documents/{document_version_id}/": {
      "get": {
        "operationId": "documents_1.0_documents_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/DocumentOut" }
          }
        },
        "tags": ["documents"]
      },
      "parameters": [
        {
          "name": "document_version_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/email-scheduler/send-emails/": {
      "post": {
        "operationId": "email-scheduler_send-emails_create",
        "description": "",
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "send_now",
            "in": "query",
            "description": "If set to True, e-mails will be sent immediately rather than the scheduled time",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "cc_list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": { "type": "string", "minLength": 1 },
            "default": []
          }
        ],
        "responses": {
          "202": { "description": "Successfully sent e-mails" },
          "403": { "description": "Incorrect organization" },
          "404": { "description": "E-mail template not found" }
        },
        "tags": ["email-scheduler"]
      },
      "parameters": []
    },
    "/employee/1.1/users/{user_id}/time-off-dashboard/": {
      "get": {
        "operationId": "employee_1.1_users_time-off-dashboard_read",
        "description": "",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DashboardTimeOffWidgetSerializer1_1"
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/1.1/users/{user_id}/time-off-types/": {
      "get": {
        "operationId": "employee_1.1_users_time-off-types_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UsersTimeOffTypeRecordSerializerV1_1"
              }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/1.1/users/{user_id}/time-off-types/{time_off_id}/": {
      "get": {
        "operationId": "employee_1.1_users_time-off-types_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UsersTimeOffTypeRecordWithAdjustmentPermissionSerializerV1_1"
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "time_off_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/1.1/users/{user_id}/time-off-types/{time_off_id}/balance-history/": {
      "get": {
        "operationId": "employee_1.1_users_time-off-types_balance-history_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": { "type": "integer" },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/TimeOffEvent" }
                }
              }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "time_off_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/1.1/{user_id}/time-off-calendar/": {
      "get": {
        "operationId": "employee_1.1_time-off-calendar_list",
        "description": "",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/TimeOffCalendar" }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/1.2/users/{user_id}/time-off-dashboard/": {
      "get": {
        "operationId": "employee_1.2_users_time-off-dashboard_read",
        "description": "",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DashboardTimeOffWidgetSerializer1_2"
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/2.0/internal/bulk-get-applicable-policy/": {
      "post": {
        "operationId": "employee_2.0_internal_bulk-get-applicable-policy_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InternalBulkGetApplicablePolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InternalBulkGetApplicablePolicyResponse"
              }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/2.0/internal/bulk-get-users/": {
      "post": {
        "operationId": "employee_2.0_internal_bulk-get-users_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/InternalBulkUserQueryRequestV2" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/InternalUserPresetSections" }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/2.0/users/{user_id}/bank-information/": {
      "get": {
        "operationId": "employee_2.0_users_bank-information_list",
        "description": "List bank information",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/BankInformationListV2" }
          },
          "404": { "description": "Section not found" }
        },
        "tags": ["employee"]
      },
      "post": {
        "operationId": "employee_2.0_users_bank-information_create",
        "description": "Bank information ViewSet",
        "parameters": [],
        "responses": { "201": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/2.0/users/{user_id}/bank-information/{id}/": {
      "get": {
        "operationId": "employee_2.0_users_bank-information_read",
        "description": "Bank information ViewSet",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "put": {
        "operationId": "employee_2.0_users_bank-information_update",
        "description": "Bank information ViewSet",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "patch": {
        "operationId": "employee_2.0_users_bank-information_partial_update",
        "description": "Bank information ViewSet",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "delete": {
        "operationId": "employee_2.0_users_bank-information_delete",
        "description": "Bank information ViewSet",
        "parameters": [],
        "responses": { "204": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this bank information.",
          "required": true,
          "type": "integer"
        },
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/2.0/users/{user_id}/base-data/": {
      "get": {
        "operationId": "employee_2.0_users_base-data_read",
        "description": "Retrieve base data",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/BaseDataRetrieveV2" }
          },
          "404": { "description": "Section not found" }
        },
        "tags": ["employee"]
      },
      "put": {
        "operationId": "employee_2.0_users_base-data_update",
        "description": "User base data views",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "patch": {
        "operationId": "employee_2.0_users_base-data_partial_update",
        "description": "User base data views",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/ats/candidates/count/": {
      "get": {
        "operationId": "employee_ats_candidates_count_list",
        "description": "",
        "parameters": [
          {
            "name": "count_type",
            "in": "query",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/ats/candidates/list/": {
      "get": {
        "operationId": "employee_ats_candidates_list_list",
        "description": "",
        "parameters": [
          {
            "name": "list_type",
            "in": "query",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/ATSPendingHiresList" }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/ats/candidates/show/": {
      "get": {
        "operationId": "employee_ats_candidates_show_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/ATSPendingHiresShow" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/ats/candidates/{id}/": {
      "delete": {
        "operationId": "employee_ats_candidates_delete",
        "description": "",
        "parameters": [],
        "responses": { "204": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this ats external user.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/employee/ats/candidates/{id}/mark-as-added/": {
      "put": {
        "operationId": "employee_ats_candidates_mark-as-added_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ATSPendingHiresMarkAsAdded" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/ATSPendingHiresMarkAsAdded" }
          }
        },
        "tags": ["employee"]
      },
      "patch": {
        "operationId": "employee_ats_candidates_mark-as-added_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ATSPendingHiresMarkAsAdded" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/ATSPendingHiresMarkAsAdded" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this ats external user.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/employee/ats/user/{id}/": {
      "get": {
        "operationId": "employee_ats_user_read",
        "description": "",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this ats external user.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/employee/bulk-upload-documents-v2/": {
      "post": {
        "operationId": "employee_bulk-upload-documents-v2_create",
        "description": "",
        "parameters": [
          { "name": "file", "in": "formData", "type": "file" },
          {
            "name": "strategy",
            "in": "query",
            "required": true,
            "type": "integer"
          },
          {
            "name": "document_request_type",
            "in": "query",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": { "201": { "description": "" } },
        "consumes": ["multipart/form-data"],
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/bulk-upload-documents/": {
      "post": {
        "operationId": "employee_bulk-upload-documents_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/BulkUploadDocuments" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/BulkUploadDocuments" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/bulk/create/template/": {
      "get": {
        "operationId": "employee_bulk_create_template_list",
        "description": "",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "produces": ["application/xlsx"],
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/calendar/{uuid}/": {
      "get": {
        "operationId": "employee_calendar_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Calendar File (.ics)",
            "schema": { "type": "file" }
          }
        },
        "produces": ["application/json", "text/calendar"],
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/employee/celebration-events/": {
      "get": {
        "operationId": "employee_celebration-events_list",
        "description": "",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d{2}\\/\\d{2}\\/\\d{4}"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/EmployeeCelebrationEvents" }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/create/": {
      "post": {
        "operationId": "employee_create_create",
        "description": "Create Employee Endpoint",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AddEmployee" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/AddEmployee" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/create/validate/{step}/": {
      "post": {
        "operationId": "employee_create_validate_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AddEmployee" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/AddEmployee" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "step", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/global-search/": {
      "get": {
        "operationId": "employee_global-search_list",
        "description": "",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Search global data",
            "required": false,
            "type": "string"
          },
          {
            "name": "modules",
            "in": "query",
            "description": "Search which modules, empty will search all of them, supported values: employee",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/GlobalSearchViewResponse" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/gsuite/deprovision/{user_id}/": {
      "delete": {
        "operationId": "employee_gsuite_deprovision_delete",
        "description": "",
        "parameters": [],
        "responses": { "204": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/gsuite/provision/{user_id}/": {
      "post": {
        "operationId": "employee_gsuite_provision_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/GSuiteCreateUser" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/GSuiteCreateUser" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/import/": {
      "post": {
        "operationId": "employee_import_create",
        "description": "",
        "parameters": [
          {
            "name": "file_type",
            "in": "query",
            "description": "File Type",
            "type": "number"
          },
          { "name": "file", "in": "formData", "type": "file" }
        ],
        "responses": { "201": { "description": "" } },
        "consumes": ["multipart/form-data"],
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/import/self-serve/": {
      "post": {
        "operationId": "employee_import_self-serve_create",
        "description": "",
        "parameters": [
          {
            "name": "file_type",
            "in": "formData",
            "description": "File Type",
            "type": "string"
          },
          { "name": "file", "in": "formData", "type": "file" }
        ],
        "responses": { "201": { "description": "" } },
        "consumes": ["multipart/form-data"],
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/information-update/approval-rules/": {
      "get": {
        "operationId": "employee_information-update_approval-rules_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedInformationUpdateRequestApprovalRuleResponse"
            }
          }
        },
        "tags": ["employee"]
      },
      "post": {
        "operationId": "employee_information-update_approval-rules_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InformationUpdateRequestApprovalRule"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InformationUpdateRequestApprovalRuleResponse"
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/information-update/approval-rules/reorder/": {
      "post": {
        "operationId": "employee_information-update_approval-rules_reorder_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InformationUpdateRequestApprovalRuleReorder"
            }
          }
        ],
        "responses": {},
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/information-update/approval-rules/{approval_rule_id}/": {
      "get": {
        "operationId": "employee_information-update_approval-rules_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InformationUpdateRequestApprovalRuleResponse"
            }
          }
        },
        "tags": ["employee"]
      },
      "put": {
        "operationId": "employee_information-update_approval-rules_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InformationUpdateRequestApprovalRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InformationUpdateRequestApprovalRuleResponse"
            }
          }
        },
        "tags": ["employee"]
      },
      "delete": {
        "operationId": "employee_information-update_approval-rules_delete",
        "description": "",
        "parameters": [],
        "responses": {},
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "approval_rule_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/employee/information-update/approvals/": {
      "get": {
        "operationId": "employee_information-update_approvals_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "type": "integer"
          },
          {
            "name": "filter_pending_self_approval",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/ListApprovalsResponse" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/information-update/approvals/{approval_id}/": {
      "get": {
        "operationId": "employee_information-update_approvals_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/GetApprovalResponse" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "approval_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/employee/information-update/approvals/{approval_id}/action/": {
      "post": {
        "operationId": "employee_information-update_approvals_action_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InformationUpdateApprovalActionRequest"
            }
          },
          {
            "name": "action_type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": ["approve", "reject"]
          }
        ],
        "responses": {},
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "approval_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/employee/internal/bulk-get-users/": {
      "post": {
        "operationId": "employee_internal_bulk-get-users_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/InternalBulkUserQueryRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/InternalUserPresetSections" }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/internal/get-pay-items/": {
      "post": {
        "operationId": "employee_internal_get-pay-items_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/InternalUserRequest" }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "type": "integer",
            "maximum": 12,
            "minimum": 1
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "type": "integer"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["Whole Month", "1st Half of Month", "2nd Half of Month"],
            "default": "Whole Month"
          },
          {
            "name": "proration_calculation_type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "working_days",
              "calendar_days",
              "twenty_six_working_days"
            ],
            "default": "working_days"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InternalUserWorkingDaysResponse"
              }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/internal/get-user/": {
      "post": {
        "operationId": "employee_internal_get-user_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/InternalUserRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/InternalUserPresetSections" }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/internal/get-users/": {
      "post": {
        "operationId": "employee_internal_get-users_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/InternalUserQueryRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/InternalUserPresetSections" }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/last-used-employee-id/": {
      "get": {
        "operationId": "employee_last-used-employee-id_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/RunningEmployeeId" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/list/": {
      "get": {
        "operationId": "employee_list_list",
        "description": "Employee list view",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string",
            "enum": [
              "display_first_name",
              "base_first_name",
              "base_last_name",
              "company",
              "department",
              "position",
              "location_name",
              "employment_status_label",
              "hired_date",
              "-display_first_name",
              "-base_first_name",
              "-base_last_name",
              "-company",
              "-department",
              "-position",
              "-location_name",
              "-employment_status_label",
              "-hired_date"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "department",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "team",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "employment_status",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hired_start_date",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hired_end_date",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": { "type": "integer" },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/Employee List Serializer" }
                }
              }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/list/filters/": {
      "get": {
        "operationId": "employee_list_filters_list",
        "description": "Employee available filters data",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/list/min-v2/": {
      "get": {
        "operationId": "employee_list_min-v2_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "department",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "team",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "employment_status",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hired_start_date",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hired_end_date",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "exclude_self",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "exclude_direct_reports",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "exclude_all_children",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "exclude_not_started",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employee For Selector Serializer"
              }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/list/min/": {
      "get": {
        "operationId": "employee_list_min_list",
        "description": "Generate minimal information list of users (using for user selects)",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "department",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "team",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "employment_status",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hired_start_date",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hired_end_date",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "exclude_self",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "exclude_direct_reports",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "exclude_all_children",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employee For Selector Serializer"
              }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/list/payroll-enrollment/": {
      "get": {
        "operationId": "employee_list_payroll-enrollment_list",
        "description": "",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/manage-email-actions/": {
      "post": {
        "operationId": "employee_manage-email-actions_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/EmailAction" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/EmailAction" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/notifications/": {
      "get": {
        "operationId": "employee_notifications_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": ["count", "results"],
              "type": "object",
              "properties": {
                "count": { "type": "integer" },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": { "$ref": "#/definitions/Notification" }
                }
              }
            }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/notifications/count/": {
      "get": {
        "operationId": "employee_notifications_count_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/IntegerResult" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/notifications/reviewed-by-date/{id}": {
      "put": {
        "operationId": "employee_notifications_reviewed-by-date_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/NotificationReviewedByDate" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/NotificationReviewedByDate" }
          }
        },
        "tags": ["employee"]
      },
      "patch": {
        "operationId": "employee_notifications_reviewed-by-date_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/NotificationReviewedByDate" }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": { "$ref": "#/definitions/NotificationReviewedByDate" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this notification.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/employee/notifications/reviewed/": {
      "post": {
        "operationId": "employee_notifications_reviewed_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/NotificationReviewed" }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": { "$ref": "#/definitions/NotificationReviewed" }
          }
        },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/placeholders-context/{user_id}/": {
      "get": {
        "operationId": "employee_placeholders-context_read",
        "description": "",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": [
        { "name": "user_id", "in": "path", "required": true, "type": "string" }
      ]
    },
    "/employee/placeholders/": {
      "get": {
        "operationId": "employee_placeholders_list",
        "description": "",
        "parameters": [],
        "responses": { "200": { "description": "" } },
        "tags": ["employee"]
      },
      "parameters": []
    },
    "/employee/probation-end-date/calculate/": {
      "get": {
        "operationId": "employee_probation-end-date_calculate_list",
        "description": "Calculate probation end date based on period and start date",
        "parameters": [
          {
            "name": "probation_period_number",
            "in": "query",
            "required": true,
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "probation_period_type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Day",
[...]
